<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device=width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>s-women</title>
    <link rel="stylesheet" href="/training/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="w.css">
    <link rel="stylesheet" href="/training/public/font-awesome-4.7.0/css/font-awesome.css">
</head>
<body>
<div class=".container">
    <header><i class="fa fa-search fa-2x" aria-hidden="true"></i><h2>Search...</h2></header>
    <div class="content">
        <section>
            <img src="/training/public/img/3.jpg" alt="#" height="90" width="90">
            <span class="badge">10</span>
            <div class="information">
                <h2>Sarah Green</h2>
                <a href="#">@SarahGreen</a>
                <p><strong>186</strong>followers     <strong>16</strong>following</p>
            </div>
        </section>
        <div class="list-group">
            <a class="list-group-item"><span class="badge">
                <i class="fa fa-angle-right" aria-hidden="true"></i></span><i class="fa fa-user-o" aria-hidden="true"></i>
                Edit Profile</a>
            <a class="list-group-item"><span class="badge">
                <i class="fa fa-angle-right" aria-hidden="true"></i></span><i class="fa fa-refresh" aria-hidden="true"></i>
                Refresh</a>
            <a class="list-group-item"><span class="badge">
                <i class="fa fa-angle-right" aria-hidden="true"></i></span><i class="fa fa-envelope-o" aria-hidden="true"></i>
                Messages</a>
            <a class="list-group-item"><span class="badge">
                <i class="fa fa-angle-right" aria-hidden="true"></i></span><i class="fa fa-cog" aria-hidden="true"></i>
                Settings</a>
            <a class="list-group-item"><span class="badge">
                <i class="fa fa-angle-right" aria-hidden="true"></i></span><i class="fa fa-question-circle" aria-hidden="true"></i>
                Help</a>
        </div>
    </div>
    <footer><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i><h2>Sign out.</h2></footer>
</div>
</body>
</html>