<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/training/public/components/bootstrap/dist/css/bootstrap.css">
    <style>
        div{
            border:0px solid red;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1 col-md-offset-4">姓名</div>
        <div class="col-md-3">
            <input type="text" placeholder="请输入你的名字">
        </div>
        <div class="col-md-1 col-md-offset-4">电话</div>
        <div class="col-md-3">
            <input type="number">
        </div>
        <div class="col-md-1 col-md-offset-4">emile</div>
        <div class="col-md-3">
            <input type="email">
        </div>
        <div class="col-md-1 col-md-offset-4">毕业学校</div>
        <div class="col-md-3">
            <input type="text">
        </div>
        <div class="col-md-1 col-md-offset-4">毕业时间</div>
        <div class="col-md-3">
            <input type="date">
        </div>
        <div class="col-md-1 col-md-offset-4">照片</div>
        <div class="col-md-3">
            <input type="file">
        </div>
        <div class="col-md-1 col-md-offset-4">
            <input type="submit">
        </div>
        </div>
    </div>
</div>
</body>
</html>