<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/training/public/components/bootstrap/dist/css/bootstrap.css">
    <style>
input{
    height:50px;
    width:300px;
}
#a{
    height:20px;
}
.row{
    height:50px;
}

.col-md-4 {
    border: 0px solid #cccccc;
    height: 40px;
    font-size: 5px;

}
.btn{
            height:50px;
            width:360px;
            background-color: #ac2925;
}
    </style>
</head>
<body>
<form class="form-horizontal">
<div class="container">
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row">
       <div class="col-md-4 col-md-offset-4">
           <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
               </span>
               <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
           </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
               </span>
                <input  type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
            </div>
        </div>
    </div>
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
                <button type="button" class="btn btn-default">Login</button>
            </div>
        </div>
    <div class="row"></div>
    <div class="form-group">
        <div class="col-md-offset-4 col-sm-10">
            <div class="checkbox">
                <label>
                    <input id="a" type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>

    </div>
</form>
</body>
</html>