<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,
    maximum-scale=1,user-scalable=no">
    <title>移动端</title>
    <link rel="stylesheet" href="/training/public/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="yidong.css">
</head>
<body>
<form action="">
    <div class="row">

            <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
               </span>
                <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
            </div>
    </div>
        <div class="row">
            <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon1">
                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
               </span>
                <input  type="password" class="form-control" placeholder="Password" aria-describedby="sizing-addon1">
            </div>
        </div>
            <div class="row">

            <button type="button" class="btn btn-default">Login</button>
        </div>

</form>
</body>
</html>