<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>美食</title>
    <link rel="stylesheet" href="food.css">
</head>
<body>
<header>
    <div class="nav" id="top">
        <div class="nav-left">
            <div><a href="">注册</a></div>
            <div class="nav-left-1">|</div>
            <div><a href="">登录</a></div>
        </div>
        <div class="nav-center">
            <a href="">
                <div class="icon-1"></div>
            </a>
            <div><a href="">爱美食</a></div>
        </div>
        <div class="nav-right">
            <a href="">
                <div class="icon-2"></div>
            </a>
            <a href="">
                <div class="icon-3"></div>
            </a>
            <div><a href="">加入购物车</a></div>
            <a href="">
                <div class="icon-4"></div>
            </a>
        </div>
    </div>
</header>
<content>
    <div class="bg">
        <div class="content">
            <div class="list">
                <a href="">
                    <div class="list-1">首页</div>
                </a>
                <a href="">
                    <div class="list-2">关于我们</div>
                </a>
                <a href="">
                    <div class="list-2">我们的菜单</div>
                </a>
                <a href="">
                    <div class="list-2">我们的文化</div>
                </a>
                <a href="">
                    <div class="list-2">加入我们</div>
                </a>
                <a href="">
                    <div class="list-2">联系方式</div>
                </a>
            </div>
            <div class="content-logo"></div>
            <div class="content-word">喜欢收藏</div>
            <div class="content-english">spicy,tasty&delicious always!</div>
            <div class="content-advice"><a href="">给我们建议</a></div>
            <div class="content-pic">
                <div class="content-bg">
                    <div class="content-pic-1"></div>
                    <div class="content-pic-word">新菜</div>
                </div>
                <div class="content-bg">
                    <div class="content-pic-2"></div>
                    <div class="content-pic-word">推广</div>
                </div>
                <div class="content-bg">
                    <div class="content-pic-3"></div>
                    <div class="content-pic-word">特别优惠</div>
                </div>
            </div>
            <div class="content-text">
                <div class="l">
                    <div class="content-text1">
                        采用来自贵州新鲜
                        无公害蔬菜花果经多重清洗程序，
                        确保广大用户饮食安全，经来自意大利厨师亲手制作
                        ，味道美味可口让您尽享美食。
                    </div>
                </div>
                <div class="l">
                    <div class="content-text1">
                        采用来自贵州新鲜无公害蔬菜花果经多
                        重清洗程序，确保广大用户饮食安全，
                        经来自意大利厨师亲手制作，味道美味
                        可口让您尽享美食。
                    </div>
                </div>
                <div class="l">
                    <div class="content-text1">
                        采用来自贵州新鲜
                        无公害蔬菜花果经多重清洗程序，
                        确保广大用户饮食安全，经来自意大利厨师亲手制作
                        ，味道美味可口让您尽享美食。
                    </div>
                </div>
            </div>
        </div>
    </div>
</content>
<screen2>
    <div class="bg-2">
        <div class="content-2">
            <div class="thank">
                特殊感谢
            </div>
            <div class="hr"></div>
            <div class="content-2-word">
                为感谢全国用户多年来对我们的大力支持，我们特别推出一系列特色美食
                ，以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣。
                为感谢全国用户多年来对我们的大力支持，我们特别推出一系列特色美食，
                以优惠的价格回顾顾客，让顾客可以少花钱，多享受，轻松快乐的体验美食带来的乐趣。
            </div>
            <div class="content-2-pic">
                <div class="content-2-pic-1">
                    <img src="/training/public/ps/5.png">
                </div>
                <div class="content-2-pic-1">
                    <img src="/training/public/ps/8.png">
                </div>
                <div class="content-2-pic-1">
                    <img src="/training/public/ps/6.png">
                </div>
            </div>
            <div class="content-2-pic2">
                <div class="content-2-pic-1">
                    <img src="/training/public/ps/9.png">
                </div>
                <div class="content-2-pic-1">
                    <img src="/training/public/ps/7.png">
                </div>
                <div class="content-2-pic-1">
                    <img src="/training/public/ps/10.png">
                </div>
            </div>
        </div>
    </div>
</screen2>
<screen3>
    <div class="bg-3">
        <div class="content3">
            <div class="content3-pic">
                <img src="/training/public/ps/11.png">
            </div>
            <div class="content3-word">
                <div class="content3-word-1">精细的沙漠</div>
                <div class="hr2"></div>
                <div class="content3-word-2">好的事物能够保持你的健康</div>
                <div class="content3-word-3">
                    <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意
                        大利厨师亲手制作味道美味可口让您尽享美食。采用来自贵州新鲜无公害蔬菜花果经多重
                        清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享
                        美食。</p>
                    <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮食安全，经来自意
                        大利厨师亲手制作味道美味可口让您尽享美食。采用来自贵州新鲜无公害蔬菜花果经多重
                        清洗程序，确保广大用户饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享
                        美食。</p>

                </div>
            </div>
        </div>
    </div>
</screen3>
<screen4>
    <div class="bg-4">
        <div class="content4">
            <div class="content4-food">
                美味的食物
            </div>
            <div class="hr3"></div>
            <div class="content4-pic">
                <div class="content4-pic1">
                    <div class="content4-1">特殊面食</div>
                    <div class="content4-2">
                        <img src="/training/public/ps/12.png">
                    </div>
                    <div class="content4-3">
                        <p>来自全国优质小麦产区河南小麦，经来自意大利厨师
                            亲手制作，味道美味可口让您尽享美食。</p>
                    </div>
                    <div class="content4-4">+更多</div>
                </div>
                <div class="content4-pic1">
                    <div class="content4-1">水果冰镇</div>
                    <div class="content4-2">
                        <img src="/training/public/ps/13.png">
                    </div>
                    <div class="content4-3">
                        <p>采用新鲜水果切片，上好冰块配合其他优质原料经料
                            理大师之手，让您体验不一样的感觉。美味可口让您尽享美食</p>
                    </div>
                    <div class="content4-4">+更多</div>
                </div>
                <div class="content4-pic1">
                    <div class="content4-1">香肠料理</div>
                    <div class="content4-2">
                        <img src="/training/public/ps/14.png">
                    </div>
                    <div class="content4-3">
                        <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户
                            饮食安全，经来自意大利厨师亲手制作，味道美味可口让您尽享美食</p>
                    </div>
                    <div class="content4-4">+更多</div>
                </div>
                <div class="content4-pic1">
                    <div class="content4-1">天甜椒理</div>
                    <div class="content4-2">
                        <img src="/training/public/ps/15.png">
                    </div>
                    <div class="content4-3">
                        <p>采用来自贵州新鲜无公害蔬菜花果经多重清洗程序，确保广大用户饮
                            食安全，经来自意大利厨师亲手制作．味道美味可口让您尽享美食</p>
                    </div>
                    <div class="content4-4">+更多</div>
                </div>

            </div>
        </div>
    </div>
</screen4>
<screen5>
    <div class="bg-5">
        <div class="content5">
            <div class="content5-1">
                <ul>
                    <li class="red">关于必胜客</li>
                    <li>品牌介绍</li>
                    <li>新闻中心</li>
                    <li>企业</li>
                </ul>
            </div>
            <div class="content5-1">
                <ul>
                    <li class="red">美味菜单</li>
                    <li>新品推荐</li>
                    <li>休闲早餐</li>
                    <li>工作日特惠午餐</li>
                    <li>轻松下午茶</li>
                    <li>欢乐夜宵</li>
                    <li class="red">儿童菜单</li>
                </ul>
            </div>
            <div class="content5-1">
                <ul>
                    <li class="red">关注我们</li>
                    <li>下载APP</li>
                    <li>官方微信</li>
                    <li>新浪微博</li>
                    <li>腾讯微博</li>
                    <li>人人网</li>
                    <li class="red">人人网</li>
                </ul>
            </div>
            <div class="content5-1">
                <ul>
                    <li class="red">法律/隐私条款</li>
                    <li>法律条款</li>
                    <li>隐私权声明</li>
                </ul>
            </div>
            <div class="content5-1">
                <ul>
                    <li class="red">其他品牌网站</li>
                    <li>中国百胜</li>
                    <li>中国肯德基</li>
                    <li>东方既白</li>
                    <li>小肥羊</li>
                    <li>肯德基宅急送</li>
                    <li class="red">必胜宅急送</li>
                </ul>
            </div>
        </div>
    </div>
</screen5>
<screen6>
    <div class="bg-6">
        <div class="content6">
            <div class="content6-word">版权所有 百胜（中国）投资有限公司 沪ICP备05031779号</div>
            <div class="position1"></div>
            <div class="position2"></div>
            <div class="position3"></div>
            <div class="position4"></div>
            <div class="position5"></div>
            <div class="position6"></div>
        </div>
    </div>
    <div class="totop">
        <a href="#top">
            <img src="/training/public/ps/16.png">
        </a>
    </div>
</screen6>
</body>
</html>