<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>background</title>
    <style>
        .bg{

background:linear-gradient(#1f3f55 70%,#f5595b 30%);
            width:500px;
            height:500px;
            background-image: url("/training/public/img/logo.png");
            background-repeat: no-repeat;
            padding:40px;
            background-origin:content-box ;
            border:20px dashed black;
            background-clip: padding-box;

        }
    </style>
</head>
<body>
<div class="bg">

</div>
</body>
</html>