<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fireworks</title>
    <style>
        body{
            margin:0px auto;
        }
      .a{
          background: url("/training/public/ps/4.png") no-repeat -8px 0px;
          height:48px;
          width:50px;
      }
        .b{
            background: url("/training/public/ps/4.png") no-repeat -75px 0px;
            height:95px;
            width:179px;
        }
    </style>
</head>
<body>
<div class="a">
</div>
<div class="b">
</div>
<div class="c">
    <img src="/training/public/ps/4.png">
</div>
</body>
</html>